.AccountsList-element {
  border: solid 2px var(--main-color);
  border-radius: 5px;
  background-color: black;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: block;
}
.AccountsList-element p{
    font-size: 20px;
}
.AccountdetailsLink{
  text-decoration: none;
  color: white;
  float: right;
}
.DetailsButton {
  border: solid 2px var(--main-color);
  border-radius: 5px;
  background-color: var(--main-dark-accent);
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 10px;
}
