ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  height: 50px;
}

li a,
li h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  width: calc(25vw - 31.5px);
  margin: 0;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

li img {
  height: 40px;
  width: 100px;
  margin: 5px;
}

li a:hover:not(.active) {
  background-color: var(--main-dark-accent);
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  transition: all 0.2s ease-in-out;
}
.HamburgerContainer {
  width: 100%;
  padding: 10px;
  min-height: 50px;
  position: fixed;
  background-color: black;
  top: 0%;
  left: 0%;
  display: none;
}
.Hamburger {
  position: fixed;
  display: none;
  cursor: pointer;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
.Menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: solid 2px var(--main-color);
}

.CurrentLocation {
  background-color: var(--main-dark-accent);
  font-size: large;
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}

.logoOnBigScreen {
  display: block;
}

.logoOnMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Hamburger {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: transparent;
    padding-left: 5px;
  }
  .Hamburger .Line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }
  .Hamburger.active .Line:nth-child(1) {
    transform: rotate(45deg) translate(8px, 12px) scale(1.41);
  }

  .Hamburger.active .Line:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active .Line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px) scale(1.41);
  }

  ul {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .Menu {
    display: none;
  }
  .Menu.open {
    display: block;
    width: 100%;
    z-index: 0;
  }
  .HamburgerContainer {
    display: block;
    background-color: transparent;
    z-index: 2;
    height: 32px;
    width: 32px;
  }
  li {
    width: 100%;
  }

  li a,
  li h1 {
    width: 100%;
    border-radius: 0;
  }

  .logoOnBigScreen {
    display: none;
  }

  .logoOnMobile {
    display: block;
    height: 50px;
    position: fixed;
    top: 7px;
    left: 55px;
  }
}
