.AddingForm {
  margin-bottom: 40px;
  border: solid 5px var(--main-color);
  border-radius: 15px;
  background-color: black;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.formControl {
  margin: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}
.formControl label {
  display: block;
  font-size: 25px;
}
.dragImage {
  border-radius: 10px;
  margin: 10px;
  display: block;
  max-width: 50vw;
  height: auto;
}
.cancelButton {
  display: block;
  margin: 10px auto;
  height: 5vh;
  border-radius: 10px;
  background-color: var(--cancel-dark-accent);
  border: solid 2px var(--cancel-color);
  font-size: 25px;
  cursor: pointer;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
input,
select {
  width: 90%;
  height: 5vh;
  padding: 0.3px 0.7px;
  font-size: 20px;
  background-color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px var(--main-color);
  color: white;
  border-radius: 5px;
}
.submitButton {
  height: 5vh;
  font-size: 25px;
  background-color: var(--main-dark-accent);
  cursor: pointer;
  border: solid 2px var(--main-color);
  border-radius: 10px;
}
.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.dropzone > h2,h3{
  display: none;
}
.imageInput{
  width: 90%;
}
@media only screen and (min-width: 600px) {
  input,
  select,
  .submitButton {
    width: 55vw;
  }
  .cancelButton {
    width: 20vw;
  }
  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    padding: 1vh;
    border: 5px dashed rgb(117, 112, 112);
    margin: 2vh;
  }
  .dropzone > h2,h3{
    display: block;
  }
}
